* {
    color: var(--primary);
    font-family: var(--sans);
}

.code, pre {
    font-family: var(--code);
    font-size: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: var(--xs-space) var(--s-space);
    border-radius: 2px;
    border: 1px solid var(--accent);
}

